body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f5f5f5;
}

header{
  background:#111;
  color:white;
  padding:20px;
  display:flex;
  justify-content:space-between;
}

nav a{
  color:white;
  margin-left:15px;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:80px;
  background:linear-gradient(#222,#444);
  color:white;
}

#services{
  padding:40px;
}

.service{
  background:white;
  padding:20px;
  margin:20px 0;
  border-radius:8px;
}

footer{
  text-align:center;
  padding:20px;
  background:#111;
  color:white;
}
